RewriteEngine On
RewriteBase /
ErrorDocument 403 /error.php
ErrorDocument 404 /error.php

RewriteRule ^(exclusively-us|meet-us|social-networking-design-development|web-design-and-development|web-development|mobile-application-development|responsive-and-mobile|webrtc-development|ecommerce-development|prototyping|corporate-identity-and-brand-design|strategic-planning-services|search-engine-optimization|copywriting|api-3rd-party-integration|analytics-and-support|our-process|contact-us|terms-and-conditions|privacy-policy)$ index.php?page=$1 [L]
RewriteRule ^(403|404)$ error.php?page=$1 [L]