/*
Write custom rules here ONLY!
*/

@import "variables.scss";
@import "mixins.scss";

.tm-nomargin {
    margin: 0 !important;
}

.tm-nopadding {
    padding: 0 !important;
}

.tm-overflow-hidden {
    overflow: hidden;
}

.tm-text-line-normal {
    line-height: normal;
}

.tm-text-line-1 {
    line-height: 1;
}

.tm-text-line-13 {
    line-height: 1.3;
}

.tm-text-line-15 {
    line-height: 1.5;
}

.tm-margin-01 {
    margin: 0 0 18px;
}

.tm-subtitle {
    font-size: 19px;
}

.tm-description {
    font-family: $font-family-description;
    margin: 0;
}

.tm-default-p {
    font-family: $font-family-description;
    font-size: 17px;
}

.tm-container-wide {
    @media (min-width: $screen-lg-min) {
        width: 100%;
        max-width: 2560px;
        padding-left: 30px;
        padding-right: 30px;
        margin-left: auto;
        margin-right: auto;
    }
}

.tm-wrapper {
    position: relative;
}

.tm-video-container {
    @include overlay;
    overflow: hidden;
    background: url("../../img/video-bg.jpg");
    background-size: cover;
    z-index: 1;

    video {
        min-width: 100%;
        min-height: 100%;
    }
}

.tm-why-us-container {
    @include overlay;
    overflow: hidden;
    background-image: url("../../img/why-us/why-us-bg.jpg");
    background-size: cover;
    z-index: 1;
}

.tm-meet-us-container {
    @include overlay;
    overflow: hidden;
    background-image: url("../../img/meet-us/meet-us-bg.jpg");
    background-size: cover;
    z-index: 1;
}

.tm-services-bg {
    background-image: url("../../img/services/services-bg.jpg");
    background-size: cover;
}

.tm-our-process-bg {
    @include overlay;
    overflow: hidden;
    background-image: url("../../img/our-process/our-process-bg.jpg");
    background-size: cover;
    z-index: 1;
}

.tm-overlay-01 {
    @include overlay;
    background-color: rgba($primary-background, 0.75);
    z-index: 2;
}

.tm-overlay-02 {
    @include overlay;
    background-color: rgba(lighten($primary-background, 15), 0.75);
    z-index: 2;
}

.tm-overlay-03 {
    @include overlay;
    @include prefix((filter: brightness(0.5) grayscale(1)));
    z-index: 2;
}

.tm-overlay-04 {
    @include overlay;
    @include prefix((filter: brightness(0.15) grayscale(1)));
    z-index: 2;
}

.tm-overlay-05 {
    @include overlay;
    @include prefix((filter: brightness(0.75) grayscale(1)));
    z-index: 2;
}

.tm-zindex100 {
    position: relative;
    z-index: 100;
}

.tm-title-01 {
    color: $title-color;
    padding-top: $title-padding-xs;
    padding-bottom: $title-padding-xs;
    font-size: 40px;
    line-height: normal;
    position: relative;
    z-index: 2;
    margin: 0;

    @media (min-width: $screen-sm-min) {
        padding-top: $title-padding-sm;
        padding-bottom: $title-padding-sm;
        font-size: 60px;
    }
}

.tm-title-02 {
    color: $title-color;
    margin: 0 0 ($padding-01 * 2);
    font-size: 70px;
    line-height: normal;

    @media (min-width: $screen-sm-min) {
        font-size: 80px;
    }
}

.tm-title-03 {
    color: $title-color;
    padding-top: ($title-padding-xs-2 - 10);
    padding-bottom: $title-padding-xs-2;
    line-height: normal;
    position: relative;
    z-index: 2;

    @media (min-width: $screen-sm-min) {
        padding-top: $title-padding-sm-2;
        padding-bottom: $title-padding-sm-2;
    }

    h1 {
        font-size: 40px;
        line-height: 1.3;

        @media (min-width: $screen-sm-min) {
            font-size: 60px;
        }
    }

    h4 {
        line-height: 1.3;
    }
}

.tm-titlecolor {
    color: $title-color;
}

.tm-infocolor {
    color: $info-color;
}

.tm-iconholder {
    padding-top: $padding-01;
    height: 160px;

    @media (min-width: $screen-md-min) {
        height: 170px;
    }
}

.tm-cta {
    @include cta;
    color: $nav-primary-color;
    font-size: 17px;
    font-weight: 700;
}

.navbar {
    button.navbar-toggle {
        .tm-menu {
            font-family: "Glyphicons Halflings";
        }
        &.collapsed {
            .tm-menu {
                &:before {
                    content: "\e236";
                }
            }
        }
        &:not(.collapsed) {
            .tm-menu {
                &:before {
                    content: "\e014";
                }
            }
        }
    }
}

#navbar {

    @media (min-width: $screen-md-min) {
        padding: 0;
    }

    .navbar-nav {
        margin: $padding-03 0 0;

        &:hover > li {
            @include prefix((transition: $nav-transition));

            &:last-of-type {
                opacity: 1;
            }

            &:not(:last-of-type) {
                @media (min-width: $screen-md-min) {
                    opacity: $default-opacity;
                }

                &:hover {
                    opacity: 1;
                }
            }
        }

        @media (min-width: $screen-md-min) {
            margin: 0;
        }

        @media (min-width: $screen-lg-min) {
            margin: 38px 0 0;
            float: right;
        }

        > li {
            @include prefix((transition: $nav-transition));

            &:hover {
                @media (min-width: $screen-md-min) {
                    opacity: $default-opacity;
                }
            }

            > a {
                color: $nav-primary-color;
                font-size: 17px;
                font-weight: 700;
                padding: 12px 16px;

                @media (min-width: $screen-md-min) {
                    padding: 12px 10px;
                }

                @media (min-width: $screen-lg-min) {
                    padding: 12px 7px;
                }

                @media (min-width: 1350px) {
                    padding: 12px 16px;
                }

                &.tm-active {
                    color: $default-color;
                    background-color: $nav-primary-color;

                    @media (min-width: $screen-md-min) {
                        color: $nav-primary-color;
                        border-bottom: 3px solid $nav-primary-color;
                        background-color: transparent;
                    }
                }
            }

            &:not(:last-of-type) {
                border-top: 1px solid $nav-primary-color;

                @media (min-width: $screen-md-min) {
                    border-top: 0;
                }

                > a {
                    &:after {
                        content: "."
                    }
                }
            }

            &:last-of-type > a {
                @include cta;
                margin: 12px 0 0;

                @media (min-width: $screen-md-min) {
                    margin: 0 0 0 12px;
                }
            }
        }
    }
}

.tm-sect-01 {
    padding-top: $padding-05;
    padding-bottom: $padding-05;
}

.tm-sect-02 {
    padding-top: 126px;
    padding-bottom: 126px;
}

.tm-sect-03 {
    padding: $padding-05 0 0;
}

.tm-sect-04 {
    padding-top: 40px;
    padding-bottom: 40px;

    @media (min-width: $screen-md-min) {
        padding-top: 126px;
        padding-bottom: 126px;
    }
}

.tm-sect-05 {
    padding-top: 40px;
    padding-bottom: 40px;

    @media (min-width: $screen-md-min) {
        padding-top: 90px;
        padding-bottom: 90px;
    }
}

.tm-sect-06 {
    color: $title-color;
    padding-top: 30px;
    padding-bottom: 30px;
    position: relative;
    z-index: 5;

    @media (min-width: $screen-md-min) {
        padding-top: 70px;
        padding-bottom: 70px;
    }

    h1 {
        font-size: 40px;

        @media (min-width: $screen-sm-min) {
            font-size: 60px;
        }
    }
}

.tm-sect-07 {
    padding-top: $padding-06;
    padding-bottom: $padding-06;
}

.tm-bg-01 {
    background: $secondary-background;
}


.tm-bg-02 {
    background: rgba(lighten($primary-background, 15), 0.75);
}

.tm-hr-01 {
    @include hr;
    margin: $padding-03 auto ($padding-03 - $padding-02);
}

.tm-hr-02 {
    @include hr;
    margin: $padding-03 auto $padding-03;
}

.tm-hr-03 {
    @include hr;
    margin: $padding-03 0 $padding-03;
}

.tm-hr-04 {
    @include hr;
    margin: $padding-03 0 $padding-05;
    width: 150px;
}

.tm-whatwedo {

    li {
        margin: $padding-02 0 0;

        @media (min-width: $screen-sm-min) {
            width: 50%;
            float: left;
        }

        @media (min-width: $screen-md-min) {
            width: 25%;
            float: left;
        }

        > a {
            @include prefix((transition: $nav-transition));
            padding: $padding-01;
            color: $default-color;
            background: #FFF;
            display: block;
            height: inherit;
            text-decoration: none;
            position: relative;

            &:hover, &:focus {
                @include prefix((transition: $nav-transition));
                background: $info-color;
                color: $title-color;
                text-decoration: none;

                .tm-icon {
                    @include prefix((transition: $nav-transition));
                    fill: $title-color;
                }

                span {
                    @include prefix((transition: $nav-transition));
                    color: $title-color;
                }
            }

            .tm-icon {
                @include prefix((transition: $nav-transition));
                fill: $default-color;
                margin: 0 0 $padding-02;
                width: 40px;
            }

            h5 {
                margin: 0 0 9px;
            }

            p {
                @include description;
                margin: 0 0 45px;
            }

            span {
                @include prefix((transition: $nav-transition));
                color: darken($info-color, 11.5);
                font-family: $font-family-description;
                font-size: 15px;
                position: absolute;
                bottom: $padding-01;

                &:after {
                    font-family: "Glyphicons Halflings";
                    content: "\e080";
                    position: absolute;
                    top: 1px;
                    right: -20px;
                }
            }
        }

        &:nth-of-type(odd) a {
            @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
                margin: 0 ($padding-02 / 2) 0 0;
            }
        }

        &:nth-of-type(even) a {
            @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
                margin: 0 0 0 ($padding-02 / 2);
            }
        }

        a {
            @media (min-width: $screen-md-min) {
                margin: 0 ($padding-02 / 2);
            }
        }
    }
}

.tm-howwework {
    background-image: url("../../img/howwework.jpg");
    background-size: cover;

    .tm-cta {
        font-size: 15px;

        @media (min-width: $screen-sm-min) {
            font-size: 17px;
        }
    }

    p {
        @include description;
        font-size: 16px;
        margin: 0 0 20px;
    }
}

.tm-casestudies {
    margin: ($padding-01 * 2) 0 0;

    li {
        @include prefix((transition: $default-transition));
        background-size: cover;

        &:hover, &:focus {
            @include prefix((transition: $default-transition));
            a, p, h3, span {
                @include prefix((transition: $default-transition));
            }

            a {
                background-color: $secondary-background;
            }
        }

        @media (min-width: $screen-md-min) {
            width: 50%;
            float: left;
        }

        a {
            @include prefix((transition: $default-transition));
            display: block;
            padding: 20px 20px 0;

            @media (min-width: $screen-lg-min) {
                padding: 80px 70px 0;
            }

            &:hover, &:focus {
                text-decoration: none;
            }

            p {
                font-family: $font-family-title;
                font-size: 13px;
            }

            h3 {
                @include prefix((transition: $default-transition));
                margin: 0 0 ($padding-01 / 2);
                font-size: 40px;
            }

            span {
                margin: 0 0 $padding-01;
                font-family: $font-family-description;
                display: block;
            }
        }

        &.tm-light a {
            color: $default-color;

            &:hover {
                color: $default-color !important;

                p, h3, span {
                    color: $default-color !important;
                }
            }
        }

        &.tm-dark a {
            color: $title-color;

            &:hover {
                color: $default-color !important;

                p, h3, span {
                    color: $default-color !important;
                }
            }
        }
    }
}

.tm-values {

    li {
        margin: $padding-02 0 0;

        @media (min-width: $screen-sm-min) {
            width: 50%;
            float: left;
        }

        @media (min-width: $screen-md-min) {
            width: 33.33333%;
        }

        > div {
            margin: 0 ($padding-02 / 2);
            padding: $padding-01 $padding-01 ($padding-01 * 3);
            background: #FFF;

            span {
                font-family: $font-family-description;
                color: $info-color;
                font-size: 26px;
            }

            h3 {
                margin: ($padding-01 / 2) 0;
                font-size: 36px;
            }

            .tm-descr {
                @include prefix((transition: $nav-transition));
                padding: $padding-01;
                background-color: $info-color;
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                opacity: 0;

                h4 {
                    color: $title-color;
                    font-size: 14px;
                }

                p {
                    font-family: $font-family-description;
                    color: $title-color;
                    margin: 0;
                    font-size: 15px;
                    line-height: 1.3;
                }
            }

            &:hover {
                .tm-descr {
                    @include prefix((transition: $nav-transition));
                    opacity: 1;
                }
            }
        }

        .tm-icon {
            fill: $secondary-background;
            width: 120px;
            position: absolute;

            &.tm-trophy {
                bottom: -5px;
                right: -6px;
            }

            &.tm-typing {
                bottom: -13px;
                right: -12px;
            }

            &.tm-branch {
                bottom: -10px;
                right: -22px;
            }

            &.tm-ruler {
                bottom: 0;
                right: 0;
            }

            &.tm-heart {
                bottom: -18px;
                right: -9px;
            }

            &.tm-shield {
                bottom: -6px;
                right: -13px;
            }
        }
    }
}

.tm-team {
    margin: 36px 0 0;

    @media (min-width: $screen-sm-min) {
        margin: 36px 0 -5px;
    }

    > li {
        position: relative;
        padding-top: 18px;
        border-bottom: 5px solid #D8D8D8;

        @media (min-width: $screen-sm-min) {
            width: 50%;
            float: left;
        }

        @media (min-width: $screen-md-min) {
            width: 33.33333%;
        }

        @media (min-width: $screen-lg-min) {
            width: 25%;
        }

        @media (min-width: $screen-xl-min) {
            width: 20%;
        }

        @media (min-width: $screen-xxl-min) {
            width: 16.66666%;
        }

        &:hover {

            .tm-front-block {
                > div {
                    &:nth-of-type(2) {
                        @include prefix((transition: $nav-transition));
                        opacity: 0;
                    }
                }
            }

            .tm-overlay-block {
                @include prefix((transition: $nav-transition));
                opacity: 0.9;

                @media (min-width: $screen-sm-min) {
                    @include prefix((  transform: rotate(-6deg) scale(1.05)));
                }
            }

            .tm-back-block {
                @include prefix((transition: $nav-transition));
                opacity: 1;
            }
        }

        .tm-front-block {
            display: table;

            > div {
                &:nth-of-type(1) {
                    padding-right: 9px;
                }

                &:nth-of-type(2) {
                    display: table-cell;
                    vertical-align: middle;

                    h5 {
                        font-size: 19px;
                        font-weight: 700;
                    }

                    p {
                        color: darken($info-color, 13);
                        text-transform: uppercase;
                        font-size: 11px;
                    }
                }
            }

            img {
                max-width: 200px;
                max-height: 240px;
            }
        }

        .tm-overlay-block {
            @include overlay;
            @include prefix((transition: $nav-transition));
            @include prefix((backface-visibility: hidden));
            background-color: darken($info-color, 12);
            opacity: 0;
            z-index: 1;

            @media (min-width: $screen-sm-min) {
                @include prefix((transform: scale(0.1, 0.1)));
            }
        }

        .tm-back-block {
            @include overlay;
            @include prefix((transition: $nav-transition));
            color: $title-color;
            opacity: 0;
            z-index: 2;
            padding: 36px;

            h5 {
                margin: 0 0 9px;
                font-size: 19px;
                font-weight: 700;
            }

            p {
                margin: 0 0 9px;
                text-transform: uppercase;
                font-size: 11px;

                + p {
                    margin: 0 0 9px;
                    text-transform: none;
                    font-size: 14px;
                    line-height: 1.3;
                }
            }

            a {
                display: inline-block;
                margin: 0 5px 0 0;

                .tm-icon {
                    @include prefix((transition: $nav-transition));
                    fill: $title-color;
                    height: 25px;
                    opacity: 1;
                }

                &:hover {
                    .tm-icon {
                        opacity: $default-opacity;
                    }
                }
            }
        }
    }
}

.tm-accent-01 {
    background-color: $info-color;
    padding: 36px 0;
    background-image: url('../../img/bg-pattern.svg');
    background-position: 50% 50%;
}

.tm-accent-02 {
    padding: $padding-05 0;
    background-image: url('../../img/bg-getaquote.jpg');
    overflow: hidden;
    background-color: #333;
    background-size: cover;

    p {
        font-family: $font-family-description;
        margin: 18px 0 27px;
        font-size: 17px;
    }

    .tm-cta {
        width: 100%;
    }
}

[class*="tm-why-us-sect-"] {

    h1 {
        font-size: 32px;

        @media (min-width: $screen-xs-min) {
            font-size: 60px;
        }
    }

    h2 {
        font-size: 32px;

        @media (min-width: $screen-xs-min) {
            font-size: 46px;
        }
    }

    h3 {
        margin-bottom: 36px;
    }

    p {
        font-family: $font-family-description;
        font-size: 18px;
        margin-bottom: 18px;
    }

    [class*="tm-why-us-img"], [class*="tm-join-us-img"] {
        background-size: cover;
    }

    .tm-why-us-img-01 {
        background-image: url('../../img/why-us/why-us-img-01.jpg');
    }

    .tm-why-us-img-02 {
        background-image: url('../../img/why-us/why-us-img-02.jpg');
    }

    .tm-why-us-img-03 {
        background-image: url('../../img/why-us/why-us-img-03.jpg');
    }

    .tm-why-us-img-04 {
        background-image: url('../../img/why-us/why-us-img-04.jpg');
    }

    .tm-why-us-img-05 {
        background-image: url('../../img/why-us/why-us-img-05.jpg');
    }

    .tm-why-us-img-06 {
        background-image: url('../../img/why-us/why-us-img-06.jpg');
    }

    .tm-why-us-img-07 {
        background-image: url('../../img/why-us/why-us-img-07.jpg');
    }

    .tm-join-us-img-01 {
        background-image: url('../../img/why-us/join-us-img-01.jpg');
        background-position: 100% 0;
    }

    .tm-join-us-img-02 {
        background-image: url('../../img/why-us/join-us-img-02.jpg');
    }

    .tm-join-us-text {
        a {
            @include prefix((transition: $nav-transition));
            color: $default-color;
            display: block;
            position: relative;

            h3 {
                font-size: 37px;
                line-height: normal;
            }

            p {
                font-size: 17px;
                line-height: normal;

                &:after {
                    @include prefix((transition: $nav-transition));
                    color: $info-color;
                    top: $padding-05;
                    right: 0;
                    position: absolute;
                    font-family: "Glyphicons Halflings";
                    content: "\e080";
                    font-size: 58px;
                }
            }

            &:hover, &:focus {
                @include prefix((transition: $nav-transition));
                color: #000;
                text-decoration: none;

                p {
                    &:after {
                        @include prefix((transition: $nav-transition));
                        color: #000;
                    }
                }
            }
        }
    }

    .tm-offset-right {
        margin-right: -400px;
    }

    .tm-offset-left {
        margin-left: -400px;
    }
}

[class*="tm-why-us-text"] {
    color: $default-color;

    @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
        width: 750px;
        margin: 0 auto;
    }

    h3 {
        margin: 0 0 18px;
    }
}

.subnav {
    box-shadow: $subnav-box-shadow;
    position: relative;
    z-index: 1;

    [class*="container"] {
        @media (max-width: $screen-md-max) {
            width: 100%;
        }
    }

    li {
        &:not(:last-of-type) {
            @media (max-width: $screen-sm-max) {
                border-bottom: $subnav-border;
            }
        }

        @media (min-width: $screen-md-min) {
            border-left: $subnav-border;
            border-right: $subnav-border;
            margin: 10px -5px 10px 0;
            border-bottom: 0;
            display: inline-block;
        }

        a {
            @include prefix((transition: $nav-transition));
            font-family: $font-family-title;
            color: $default-color;
            position: relative;
            padding: 8px 0;
            display: block;
            text-transform: uppercase;
            font-size: 14px;
            font-weight: 700;

            &:hover, &:focus, &.tm-active {
                color: $info-color;
                text-decoration: none;

                .tm-icon {
                    fill: $info-color;
                }
            }

            @media (min-width: $screen-md-min) {
                height: 100px;
                display: table-cell;
                vertical-align: bottom;
                text-align: center;
                padding: 10px 22px;
            }

            @media (min-width: $screen-lg-min) {
                padding: 10px 33px;
            }

            &.tm-active:after {
                @media (min-width: $screen-md-min) {
                    @include prefix((transform: translateX(-50%)));
                    @include prefix((filter: drop-shadow($subnav-box-shadow)));
                    content: "";
                    position: absolute;
                    width: 0px;
                    height: 0px;
                    border-left: 17px solid transparent;
                    border-right: 17px solid transparent;
                    border-top: 17px solid #FFF;
                    left: 50%;
                    bottom: -32px;
                }
            }

            &[href="strategic-planning-services"] {
                .tm-icon {
                    width: 32px;
                }

                br {
                    @media (max-width: $screen-sm-max) {
                        display: none;
                    }
                }
            }

            .tm-icon {
                @include prefix((transition: $nav-transition));
                @include prefix((transform: translateX(-50%)));
                fill: $default-color;
                position: absolute;
                left: 50%;
                top: 12px;
                width: 40px;
                display: none;

                @media (min-width: $screen-md-min) {
                    display: initial;
                }
            }
        }
    }
}

[id^="services-"][id$="-content"] {
    h1 {
        font-size: 32px;

        @media (min-width: $screen-xs-min) {
            font-size: 46px;
        }
    }

    img {
        margin: 0 0 36px;
    }

    p {
        font-family: $font-family-description;
        font-size: 17px;
        line-height: 1.5;
        margin: 0 0 18px;

        &.tm-increased {
            font-size: 18px;
        }

        &.tm-colored {
            color: darken($info-color, 13);
        }

        &.tm-margin-less {
            margin: 0 0 9px;
        }
    }

    ul, ol {
        @extend p;
        padding: 0 0 0 20px;
    }
}

.tm-our-process-img-01 {
    background-image: url('../../img/our-process/our-process-img-01.jpg');
}

.tm-our-process-img-02 {
    background-image: url('../../img/our-process/our-process-img-02.svg');
}

.tm-cell-block-01 {
    margin: 0 0 72px;

    @media (min-width: $screen-sm-min) {
        display: table;
    }

    .tm-cell {

        @media (min-width: $screen-sm-min) {
            display: table-cell;
            vertical-align: middle;
        }

        &:nth-of-type(1) {
            padding-right: 36px;

            img {
                max-width: 100%;

                @media (min-width: $screen-sm-min) {
                    max-width: initial;
                }
            }
        }
    }
}

.tm-cell-block-02 {
    width: 100%;
    display: table;

    .tm-cell {
        display: table-cell;

        img {
            max-width: 100%;
        }

        div {
            font-family: $font-family-description;
            font-size: 15px;
            opacity: 0.5;
        }
    }
}

.tm-block-01 {
    position: relative;

    h3 {
        text-align: center;

        @media (min-width: $screen-md-min) {
            text-align: left;
        }
    }

    span {
        @include horline;


    }

    p:after {
        @media (min-width: $screen-md-min) {
            @include midline-icon;
            background-image: url("../../img/our-process/icon-writing.svg");
        }
    }
}

.tm-block-02 {
    @media (min-width: $screen-md-min) {
        padding-left: 80px;
    }

    p {
        font-size: 15px;
    }
}

.tm-midline-01 {
    @include midline;
    &:after {
        background-color: $default-color;
    }
}

.tm-midline-02 {
    @include midline;
    &:after {
        background-color: $title-color;
    }
}

footer {
    padding: $padding-01 0;
    background-color: darken($info-color, 5);
    background-image: url('../../img/bg-pattern.svg');
    background-position: 50% 50%;

    p {
        font-family: $font-family-description;
        font-size: 13px;
        margin: 0 0 10px;

        @media (min-width: $screen-md-min) {
            margin: 0;
        }
    }

    .tm-social {
        margin: 0 0 5px;
        display: inline-block;

        &:hover li {
            @include prefix((transition: $nav-transition));

            @media (min-width: $screen-md-min) {
                opacity: $default-opacity;
            }

            &:hover {
                opacity: 1;
            }
        }

        li {
            @include prefix((transition: $nav-transition));
            display: inline-block;
            margin: 0;

            ~ li {
                margin: 0 0 0 14px;
            }
        }

        .tm-icon {
            fill: $title-color;
            height: 25px;
        }
    }

    .tm-copyright {
        color: $title-color;
        display: inline-block;
    }

    .tm-footer-nav {
        display: block;

        @media (min-width: $screen-md-min) {
            display: inline-block;
        }

        &:hover a {
            @include prefix((transition: $nav-transition));

            @media (min-width: $screen-md-min) {
                opacity: $default-opacity;
            }

            &:hover {
                opacity: 1;
            }
        }

        a {
            @include prefix((transition: $nav-transition));
            font-family: $font-family-description;
            color: $title-color;
            font-size: 13px;
            display: block;
            padding: 5px 0 0;

            &:hover, &:focus {
                color: $title-color;
                text-decoration: none;
            }

            @media (min-width: $screen-md-min) {
                display: initial;
                padding: 0 0 0 10px;
            }
        }
    }
}