/*
ONLY mixins, no code here! 
*/

@import "variables.scss";

/*
Mixin for vendor-prefixes.
Example: @include prefix((transform: translateY(-50%)));
*/
@mixin prefix($scope, $vendors: webkit moz ms o) {
    @each $prop, $value in $scope {
        @if $vendors {
            @each $vendor in $vendors {
                #{"-" + $vendor + "-" + $prop}: #{$value};
            }
        }
        // Dump regular property anyway
        #{$prop}: #{$value};
    }
}

/*
Mixin for overlay positioning.
Example: @include overlay;
*/
@mixin overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

/*
Mixin for call to action element.
Example: @include cta;
*/
@mixin cta {
    @include prefix((box-shadow: 0 0 0 3px $nav-primary-color inset));
    @include prefix((transition: $nav-transition));
    display: inline-block;
    padding: 12px 16px;

    &:hover, &:focus {
        @include prefix((transition: $nav-transition));
        background: $nav-primary-color;
        color: $default-color;
        text-decoration: none;
    }
}

/*
Mixin for description and subtitle.
Example: @include description;
*/
@mixin description {
    line-height: 1.4;
    font-size: 15px;
}

/*
Mixin for default hr element.
Example: @include hr;
*/
@mixin hr {
    background: $info-color;
    height: 4px;
    width: 100px;
    border-top: 0;
}

/*
Mixin for vertical line at the middle of the screen
Example: @include midline;
*/
@mixin midline {
    @media (min-width: $screen-md-min) {
        position: relative;

        &:after {
            content: "";
            position: absolute;
            top: 0;
            left: 50%;
            width: 2px;
            height: 100%;
            margin-left: -1px;
            z-index: 1;
        }
    }
}

/*
Mixin for right horizontal line near middle of the screen.
Example: @include horline-right;
*/
@mixin horline-right {
    position: relative;
    display: inline-block;

    &:before {
        right: 100%;
    }

    &:after {
        left: 100%;
    }

    &:before {
        background-color: $default-color;
        margin-right: 4%;

        @media (min-width: $screen-md-min) {
            display: none;
        }
    }

    &:after {
        background-color: $default-color;
        margin-left: 4%;
    }

    &:before, &:after {
        content: "";
        position: absolute;
        top: 50%;
        width: 100%;
        height: 1px;

        @media (min-width: $screen-md-min) {
            margin-top: -1px;
            height: 2px;
        }
    }
}

/*
Mixin for left horizontal line near middle of the screen.
Example: @include horline-left;
*/
@mixin horline-left {
    position: relative;
    display: inline-block;

    &:before {
        right: 100%;
    }

    &:after {
        left: 100%;

        @media (min-width: $screen-md-min) {
            display: none;
        }
    }

    &:before {
        background-color: $default-color;
        margin-right: 4%;
    }

    &:after {
        background-color: $default-color;
        margin-left: 4%;
    }

    &:before, &:after {
        content: "";
        position: absolute;
        top: 50%;
        width: 100%;
        height: 1px;

        @media (min-width: $screen-md-min) {
            width: 24%;
            margin-top: -1px;
            height: 2px;
        }
    }
}

/*
Mixin for right icon over the midline.
Example: @include midline-icon-right;
*/
@mixin midline-icon-right {
    content: "";
    display: inline-block;
    position: absolute;
    right: -28px;
    top: -10px;
    z-index: 2;
    width: 57px;
    height: 57px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

/*
Mixin for left icon over the midline.
Example: @include midline-icon-left;
*/
@mixin midline-icon-left {
    content: "";
    display: inline-block;
    position: absolute;
    left: -28px;
    top: -10px;
    z-index: 2;
    width: 57px;
    height: 57px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

/*
Mixin for .nav-tabs a elements.
Example: @include nav-tabs-a;
*/
@mixin nav-tabs-a {
    border: 0;
    margin: 0;
}

/*
Mixin for triangle after active menu item.
Example: @include triangle;
*/
@mixin triangle {
    content: "";
    position: absolute;
    width: 0px;
    height: 0px;
    border-left: $triangle-height solid transparent;
    border-right: $triangle-height solid transparent;
    border-top: $triangle-height solid #FFF;
}

/*
Mixin for basic styles of contact-form elements.
Example: @include elements-style;
*/
@mixin elements-style {
    label {
        font-family: $font-family-description;
        font-weight: 400;
        text-transform: uppercase;

        + span {
            color: darken($info-color, 12);
            font-weight: bold;
            font-size: 12px;
            padding-left: 3px;
            vertical-align: top;
        }
    }

    .has-error {
        label + span {
            color: $state-danger-text;
        }
    }

    select {
        -webkit-appearance: none;
        padding-right: 32px !important;
        background: #FFF url("../../../img/arrow-down.svg") 100% 50% no-repeat;
    }

    [type="submit"] {
        font-family: $font-family-description;
        background-color: $info-color;
        font-size: 17px;
        border: 0;
        margin-top: 10px;

        &:hover, &:focus {
            background-color: darken($info-color, 5);
        }
    }
}

/*
Default Bootstrap's mixin for transition-transform.
In this project it used for overriding default transition-transform speed of
#tm-casestudies-carousel
Example: @include transition-transform(.3s ease-in-out);
*/
@mixin transition-transform($transition...) {
    -webkit-transition: -webkit-transform $transition;
    -moz-transition: -moz-transform $transition;
    -o-transition: -o-transform $transition;
    transition: transform $transition;
}