/*
ONLY mixins, no code here! 
*/

@import "variables.scss";

/*mixin for vendor-prefixes
Example: @include prefix((transform: translateY(-50%)));
*/
@mixin prefix($scope, $vendors: webkit moz ms o) {
    @each $prop, $value in $scope {
        @if $vendors {
            @each $vendor in $vendors {
                #{"-" + $vendor + "-" + $prop}: #{$value};
            }
        }
        // Dump regular property anyway
        #{$prop}: #{$value};
    }
}

/*
Mixin for overlay positioning
Example: @include overlay;
*/
@mixin overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

/*
Mixin for call to action element
Example: @include cta;
*/
@mixin cta {
    @include prefix((box-shadow: 0 0 0 3px $nav-primary-color inset));
    @include prefix((transition: $nav-transition));
    padding: 12px 16px;
    
    &:hover, &:focus {
        @include prefix((transition: $nav-transition));
        background: $nav-primary-color;
        color: $default-color;
        text-decoration: none;
    }
}