/*
ONLY variables, no code here! 
*/

/*Custom variables below*/
$nav-primary-color: #FFF;
$primary-color: #FFF;
$primary-background: #103E5B;
$font-family-title:  Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
$kern-1: "kern", 1;
$title-padding-xs: 60px;
$title-padding-sm: 260px;

/*Bootstrap variables are below*/
$grid-gutter-width: 30px;
$navbar-padding-horizontal: floor(($grid-gutter-width / 2));
$grid-float-breakpoint: 992px;

$screen-xs: 480px;
$screen-xs-min: $screen-xs;
$screen-phone: $screen-xs-min;

$screen-sm: 768px;
$screen-sm-min: $screen-sm;
$screen-tablet: $screen-sm-min;

$screen-md: 992px;
$screen-md-min: $screen-md;
$screen-desktop: $screen-md-min;

$screen-lg: 1200px;
$screen-lg-min: $screen-lg;
$screen-lg-desktop: $screen-lg-min;

$screen-xs-max: ($screen-sm-min - 1);
$screen-sm-max: ($screen-md-min - 1);
$screen-md-max: ($screen-lg-min - 1);

$icon-font-path: "../../bower_components/bootstrap-sass/assets/fonts/bootstrap/";