/*
ONLY variables, no code here! 
*/

/*Custom variables below*/
$font-family-title: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family-description: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;

$title-color: #FFF;
$default-color: #3E3B3E;
$info-color: #81C4ED;
$primary-background: #103E5B;
$secondary-background: #F0F0F0;
$tetriary-background: #FFF;
$nav-primary-color: #FFF;

$nav-transition: all .1s ease-in-out;
$default-transition: all .4s ease-in-out;

$subnav-border: 1px solid #E5E5E5;

$subnav-box-shadow: 0 3px 2px rgba(black, 0.1);

$default-divider: 1px solid rgba(black, 0.1);

$triangle-height: 17px;

$nav-link-padding: 12px 16px;
$title-padding-xs: 40px;
$title-padding-xs-2: 30px;
$title-padding-sm: 250px;
$title-padding-sm-2: 180px;
$padding-01: 18px;
$padding-02: 14px;
$padding-03: 24px;
$padding-05: 54px;
$padding-06: 100px;

$default-opacity: 0.4;

$input-file-width: 120px;

$screen-xl-min: 1600px;
$screen-xxl-min: 1900px;

/*Bootstrap variables are below*/
$grid-gutter-width: 30px;
$navbar-padding-horizontal: floor(($grid-gutter-width / 2));
$grid-float-breakpoint: 992px;
$nav-link-hover-bg: transparent;
$text-color: $default-color;
$carousel-control-width: 35px;
$input-height-base: 50px;
$input-border-radius: 0;
$input-border: transparent;
$input-border-focus: darken($info-color, 12);
$btn-border-radius-base: 0;
$state-danger-text: #A94442;

$screen-xs: 480px;
$screen-xs-min: $screen-xs;
$screen-phone: $screen-xs-min;

$screen-sm: 768px;
$screen-sm-min: $screen-sm;
$screen-tablet: $screen-sm-min;

$screen-md: 992px;
$screen-md-min: $screen-md;
$screen-desktop: $screen-md-min;

$screen-lg: 1200px;
$screen-lg-min: $screen-lg;
$screen-lg-desktop: $screen-lg-min;

$screen-xs-max: ($screen-sm-min - 1);
$screen-sm-max: ($screen-md-min - 1);
$screen-md-max: ($screen-lg-min - 1);

$icon-font-path: "../../bower_components/bootstrap-sass/assets/fonts/bootstrap/";